$time: 0.2s;

@mixin slide($orientation) {
  &-enter- {
    &from {
      opacity: 0;
      @if $orientation == "Left" {
        transform: translateX(100px);
      } @else {
        transform: translateX(-100px);
      }
    }
    &active {
      transition: all $time ease-out;
    }
  }
  &-leave- {
    &to {
      opacity: 0;
      @if $orientation == "Left" {
        transform: translateX(-100px);
      } @else {
        transform: translateX(100px);
      }
    }
    &active {
      transition: all $time ease-in;
    }
  }
}
