$green-light: hsla(160, 100%, 37%, 1);
$green-light-2: hsl(160, 87%, 45%);
$dark-blue: hsla(160, 100%, 37%, 0.2);
$dark-blue-2: #18232f;

$error-100: hsl(217, 83%, 65%);
$error-200: hsla(121, 96%, 40%, 0.616);
$error-300: hsl(294, 83%, 65%);
$error-400: hsl(358, 83%, 65%);
$error-500: hsl(33, 83%, 65%);
